@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.ui-button {
    padding: 5px;
    cursor: pointer;
    border: none;
    box-shadow: inset 0px 0px rgb(248 239 239), inset -2px -2px $dark-grey;
    @include flex-between;
}