@import './vars.scss';

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin win-style {
    box-shadow: inset -1px -1px $dark-grey, inset 1px 1px $light-grey, inset -2px -2px $dark-grey, inset 2px 2px $light-grey
}