.logo {
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    &__second-word {
        display: inline-block;
        padding-left: 72px;
    }
}