@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $light-grey;
    padding: 10px 0;
    box-shadow: inset 0px 5px rgb(248, 239, 239);
    .flex {
        @include flex-between;
        align-items: center;
    }
}